@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-size: 1px;
  --main-purple: #68519D;
  --main-yellow: #F8B04E;
  --light-purple: #D7CAE5;
  --dark-purple: #2C2661;
  --light-yellow: #FBF0E2;
  --light-background: #ffffff;
  --transparent-black: rgba(0, 0, 0, 0.25);
  --itens-gap: 24rem;
  --content-gap: 48rem;
  --content-width: 65.97vw;
}

/* Index Style */
/*  */
* {
  font-size: 16rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentFlex {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  width: var(--content-width);
}

.itensFlex {
  display: flex;
  flex-direction: column;
  gap: var(--itens-gap);
}

#leftBar {
  position: fixed;
  z-index: -1;
  left: 0px;
  width: 3.54vw;
  height: 100vh;
  background-color: var(--main-purple);
  box-shadow: 9px 0 var(--light-purple);
}

#rightBar {
  position: fixed;
  z-index: -1;
  bottom: 0px;
  right: 0px;
}

#content {
  width: 100%;
  height: 100%;
  padding: 10.45vh 8.33vw;
  max-height: 100vh;
}

.title {
  color: var(--main-purple);
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

#mainTitle {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button {
  background-color: var(--light-background);
  border: 1px solid var(--main-purple);
  color: var(--main-purple);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 2em;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.button:hover {
  background-color: var(--main-purple);
  color: var(--light-background);
}

#taskFilters {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
  flex-wrap: wrap-reverse;
}

#taskFilters #taskFiltersButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5vw;
}

#taskFunctions {
  display: flex;
  justify-content: space-around;
}

#tableContainer {
  width: min-content;
}

.table {
  background-color: var(--light-background);
  width: 65.97vw;
  color: var(--dark-purple);
  border-radius: 10px;
  border-collapse: collapse;
  text-align: left;
}

.table tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

.table tbody tr:nth-child(even):hover {
  background-color: var(--transparent-black);
}

td,
th {
  padding: 0.5em;
}

tr:hover {
  background-color: var(--transparent-black);
}

tr .Concluída {
  color: #27AE60;
  font-weight: 400;
}

tr .Em-andamento {
  color: #F8B04E;
  font-weight: 400;
}

tr .Paralisada {
  color: #EB5757;
  font-weight: 400;
}


/*  */
/* Index Style */

/* Modal Style */
/*  */

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--transparent-black)
}

.modalContainer .modalContent {
  position: absolute;
  transform: translateY(50%)translateX(50%);
  width: 60%;
  bottom: 50%;
  right: 50%;
  padding: 4.17vw;
  background-color: var(--light-background);
  box-shadow: 4px 4px 4px var(--transparent-black);
  border-radius: 10px;
}

form label {
  padding: 10px 0 5px 0;
  width: 100%;
  color: var(--main-purple);
}

form input,
form select {
  color: var(--dark-purple);
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.75em;
  width: 100%;
}

.smallInput {
  width: 40%;
  min-width: 12em;
}

#dateInput {
  text-align: center;
}

.modalButtons {
  color: #828282;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalButtons .cancelModal,
#taskFunctions {
  cursor: pointer;
}

@media (max-width: 768px) {
  .table {
    width: 100%;
  }

  #header {
    text-align: center;
  }

  #content {
    padding: 10.45vh 9.24vw;
    max-height: 100vh;
  }

  .modalContainer {
    text-align: center;
  }
}